<% provide(:title, 'People') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Editing Person</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Show', @person %> |
    <%= link_to 'Back', people_path %>
  </div>
</div>
