<% provide(:title, 'People') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Add New Person to <%= ENV["LABACRONYM"]%></h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Back', people_path %>
  </div>
</div>