<% provide(:title, 'Document') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Editing Document</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
	<%= link_to 'Show', @document %> |
	<%= link_to 'Back', documents_path %>
  </div>
</div>