<div class="row bheader">
	Document Category: <%= @product_category.name%>
</div>
<p>
  <strong>Priority:</strong>
  <%= @product_category.priority %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
