<% provide(:title, 'Grant') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Editing Grant</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
	<%= link_to 'Show', @grant %> |
	<%= link_to 'Back', grants_path %>
  </div>
</div>