// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personview {
	text-align: center;
	margin-bottom: 2em;
}

.squarephoto {
	width: 162px;
	height: 162px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
