<% provide(:title, 'Product') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Editing Product</h1>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %>
  </div>
</div>