<div class="row bheader">
	Document Category: <%= @document_category.name%>
</div>
<p>
  <strong>Priority:</strong>
  <%= @document_category.priority %>
</p>

<%= link_to 'Edit', edit_document_category_path(@document_category) %> |
<%= link_to 'Back', document_categories_path %>
