<div class="row bheader">
	Person Category: <%= @person_category.name%>
</div>
<p>
  <strong>Relationship Distance:</strong>
  <%= @person_category.relationship_distance %>
</p>

<%= link_to 'Edit', edit_person_category_path(@person_category) %> |
<%= link_to 'Back', person_categories_path %>