<div class="row bheader">
	Research Area: <%= @research_area.name%>
</div>

	<%= render partial: 'layouts/section', locals: {heading: "Description", content: @research_area.description.presence || "No description available"} %>

<%= link_to 'Edit', edit_research_area_path(@research_area) %> |
<%= link_to 'Back', research_areas_path %>
